@import "bootstrap";

body {
    background-color: #fafafa;
    font-family: 'Cormorant Garamond', serif;
}

.top-nav {
    background-color: #fff;
    border-bottom: 1px solid #edeeee;
    height: 70px;
    padding: 12px 0 0 0;
}

.top-nav .add {
    margin: 10px 0 0 0;
}

.top-nav .add a {
    font-weight: bold;
    color: #000;
    font-size: 16px;
    padding: 0 0 8px 8px;
}

.brand {
    color: #000;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
}

#GRAMM-color {
    color: #5eb3ce;
}

#ABLE-color {
    color: #ce795e;
}

.card {
    background-color: #fff;
    border-radius: .25rem;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #e8e8e8;
    margin-top: 40px;
    padding: 0;
}

.handle {
    margin: 10px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
}

.card p, .card .message {
    font-size: 18px;
    margin: 20px;
}

.card.form {
    padding: 20px;
}

label {
    font-size: 18px;
    margin: 0 5px 0 0;
}

input {
    font-size: 18px;
    font-weight: 400;
}

.my-btn {
    background-color: #5eb3ce;
    width: 150px;
    border: none;
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
    font-family: 'Cormorant Garamond', serif;
}

.my-btn-2 {
    background-color: #ce795e;
    width: 150px;
    border: none;
    font-size: 24px;
    color: #fff;
    margin-top: 10px;
    font-family: 'Cormorant Garamond', serif;
}

.input.boolean {
    margin: 5px 0 0 18px;
}

.input.boolean label {
    margin-top: 5px;
    line-height: 44px;
}

.gram-actions a {
    margin-right: 15px;
}

.comments {
    padding: 20px;
}

.comment {
    font-size: 16px;
    margin-top: 5px;
}

.comment_handle {
    color: #000;
    font-weight: 600;
    font-size: 20px;
}